.App {
  text-align: center;
  background-image: url(/src/assets_Page1/Vector\ \(1\).png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Agrandir';
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Agrandir';
  src: url('./fonts/Agrandir\ Grand\ Heavy\ 800.otf') format('truetype');
}

@font-face {
  font-family: 'Agrandir-Narrow';
  src: url('./fonts/Agrandir\ Narrow\ 400.otf') format('truetype');
}

.font-AgrandirLight {
  font-family: 'Times New Roman', Times, serif;
}

.font-AgrandirNarrow {
  font-family: 'Agrandir-Narrow';
}

.floating-icon {
  cursor: pointer;
  animation: small-bounce 1.5s infinite alternate;
}

@keyframes small-bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }
}

.App_Page2 {
  text-align: center;
  font-family: 'Agrandir';
}

.sub {
  background-image: url(/src/assets_Page2/Vector.png);
  background-repeat: repeat-x;
  position: absolute;
  height: 330px;
  width: 100%;
  bottom: 0;
}


body {
  overflow-y: hidden;
  overflow-x: auto;
}