.AppMobile {
    text-align: center;
    background-image: url(/src/assets_Page1/mobile/Vector.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Agrandir';
    margin: 0;
    padding: 0;
}


.subPage2Mobile {
    background-image: url(/src/assets_Page2/mobile/Vector.png);
    background-repeat: repeat-x;
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: 0;
}